<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Mqtt Server Address (IP or Domain)-->
    <add key="mqttserver" value=""/>
    <!--Mqtt Username-->
    <add key="mqttuser" value=""/>
    <!--Mqtt Password-->
    <add key ="mqttpass" value="" />
    <!--This Device Name (Used as part of the topic)-->
    <add key ="devicename" value=""/>
    <!--Update interval in Seconds-->
    <add key ="updateinterval" value="60"/>
    <!--Take Autosnapshot by interval (if flase screenhot will be taken only by request)-->
    <add key ="autoSnapshot" value="false"/>
    <!--Include Drive info (free space, used space etc)-->
    <add key ="publishDriveInfo" value="true"/>
    <!--Debug mode will create json files called debug.json that includes the publishd data-->
    <add key ="debugMode" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
